*{
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: rgb(115, 115, 116);
}
.header {
  background-color: rgb(89, 89, 90);
  width: 100%;
  margin:0vh;
}

h1 {background-color:rgb(89, 89, 90);
      color: rgb(206, 208, 211);}

.topnav {
        margin-left: 3%;
      }

.topnav ul {
  display:flex;
  justify-content: end;
  gap: 2rem;
  list-style:none;
}
.topnav a {
  float:right;
  color:rgb(37, 37, 37);
  text-align:right
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;}

.topnav ul {
  display:flex;
  gap: 2em;
  list-style:none;
}

.hero-banner {
  padding-top: 10%;
  display:flex;
  position:relative;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-end;
  width:100%;
  max-height: 250px;
}

.image-banner {
  object-fit: cover;
  position: relative;
  width: 100%;
  max-height: 250px;
  align-items: center;
  }

.title {
  position: absolute;
  font-size: 38px;
  font-weight: 700;
  color: #f39a34;
  padding: 20px 30px 20px 0;
  text-align:end;
}
.flex {max-width: 100%;}

.about-me {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 20%;
  background-color: aliceblue;
}
.about-me-item-1 {
  align-self: flex-start;
  font-size: medium;
  color: black;
  max-width: 20%;
  background-color: rgb(207, 221, 221);
}
.about-me-item-2 {
  
  max-width: 60%;
  justify-content: right;
}
.photo-id {
  display: block;
  height: auto;
  max-width:200px;
  border-radius: 100%;
  z-index: 1;
  justify-content: center;
  margin-left: 5%;
}


#work {
  position: relative;
  display: grid;
  grid-template-rows: auto auto auto auto;
  grid-template-columns: 20% 1fr 1fr;
  background-color: black;
  gap: 10px;
  align-items: center;
  grid-template-areas: 
    "aside work1 work1"
    "aside work1 work1"
    "aside work2 work3"
    "aside work4 work5";

}

.work-item1 {
  grid-area: aside ; 
  background-color: rgb(207, 221, 221);
  object-fit: fill;
  align-self: stretch;
  
}
.work-item2 {
  grid-area: work1;
  width: 60%;
  max-height: 50%;
  object-fit: cover; 
}
.work-item3 {
  grid-area:work2 ;
  max-height: 140px;
  max-width: 537px;
  object-fit: cover;
}
.work-item4 {
  grid-area:work3 ;
  max-height: 140px;
  max-width: 537px;
  object-fit: cover;
}
.work-item5 {
  grid-area: work4 ;
  max-height: 140px;
  max-width: 537px;
  object-fit: cover;
}
.work-item6 {
  grid-area: work5 ;
  max-height: 140px;
  max-width: 537px;
  object-fit: cover;
}

@media only screen and (max-width: 320px) {
  .hero-banner {
    display:block;
  }
 
  .grid-container {
    display:block;

  }

