* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: slategray;
}

header {
  display: flex;
  background-color: aquamarine;
  width: 100%;
  margin: 10vh;
}
.box {background-color: blue;}
  header h1 {background-color: blue;
      color: azure;}

      .topnav {
        margin-left: 3%;
      }

 .topnav a {
  float:right;
  color:rgb(153, 0, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;}

.topnav ul {
  display:flex;
  gap: 2rem;
  list-style:none;
}

.image-banner img {}
h1 {
  color: lightblue;
}
h2,
h3 {color: indigo;
}

h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
  color: antiquewhite;

.grid-container {
  display: grid;
  gap: 1em;
  grid-template-areas:
  "one"
  "two"
  "three"
  "four"
  "five";
}

.element:nth-child(1){
  grid-area: one;
}

.element:nth-child(2){
  grid-area: two;
}

.element:nth-child(3){
  grid-area: three;
}

.element:nth-child(4){
  grid-area: four;
}

.element:nth-child(5){
  grid-area: five;
}
}
